@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
    margin: 25px 0;
    overflow: auto;
}

.card {
    width: 180px;
    color: #fff;
    padding: 30px 20px;
}

.card-1 {
    border-radius: 5px 5px 0 0;
    background: hsl(31, 77%, 52%);
}

.card-2 {
    background: hsl(184, 100%, 22%);
}

.card-3 {
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 5px 5px;
}

.card .title {
    margin: 15px 0;
    font-family: 'Big Shoulders Display', cursive;
}

.card p {
    font-size: 0.6rem;
    line-height: 0.9rem;
}

/* Button */
.btn {
    text-decoration: none;
    background: #fff;
    color: hsl(179, 100%, 13%);
    display: inline-block;
    margin-top: 40px;
    font-size: 0.7rem;
    border-radius: 50px;
    padding: 6px 20px;
    border: 1.5px solid #fff;
}

.btn:hover {
    background: none;
    color: #fff;
}

/* Desktop Size */

@media screen and (min-width: 550px) {
    body {
        height: 100vh;
        margin: 0;
    }

    .cards {
        display: flex;
    }

    .card-1 {
        border-radius: 5px 0 0 5px;
        background: hsl(31, 77%, 52%);
    }
    
    .card-2 {
        background: hsl(184, 100%, 22%);
    }
    
    .card-3 {
        background: hsl(179, 100%, 13%);
        border-radius: 0 5px 5px 0;
    }
}