@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 30px 0;
    flex-direction: column;
}

/* Heading texts */
.text {
    text-align: center;
    color: hsl(229, 6%, 66%);
    margin-bottom: 25px;
}

.title span {
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

.text .title {
    color: hsl(234, 12%, 34%);
}

/* Cards */
.cards {
    /* display: flex; */
    /* flex-direction: column; */
}

.card {
    width: 500px;
    background: #fff;
    margin: 10px 0;
    box-shadow: 1px 1px 20px rgb(224, 215, 215);
    border-radius: 10px;
    padding-bottom: 120px;
}

.card .title {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 1.8rem;
}

.card .sub-title {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.card img {
    float: right;
    margin: 30px;
}

/* Card Borders */
.card-1 {
    border-top: 4px solid hsl(0, 78%, 62%);
}
.card-2 {
    border-top: 4px solid hsl(180, 62%, 55%);
}
.card-3 {
    border-top: 4px solid hsl(34, 97%, 64%);
}
.card-4 {
    border-top: 4px solid hsl(212, 86%, 64%);
}

/* Desktop design */
@media screen and (min-width: 940px) {
    .cards {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center;  
    }

    .card {
        width: 330px;
        margin: 20px;
        padding: 0;
    }

    .card img {
        width: 10%;
    }

    .card .title {
        font-size: 1.5rem;
    }
    
    .card .sub-title {
        margin-bottom: 25px;
        font-size: 0.8rem;
    }

    /* Positoning cards */
    .card-1,
    .card-3 {
    transform: translateY(50%); 
    }
}