@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0D1A2D;
    color: #fff;
    font-family: 'Outfit', sans-serif;
}

.card {
    width: 400px;
    background: #15273F;
    margin: 5vh auto;
    border-radius: 10px;
    padding-top: 30px;
}

.card .hero {
    display: block;
    margin: auto;
    width: 90%;
    /* padding-top: 30px; */
    border-radius: 10px;
}

.card .title {
    margin-left: 20px;
}

.card .subTitle {
    margin: 0 18px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    color:rgb(139, 172, 217);
}

.card .info {
    display: flex;
    justify-content: space-between;
    margin: 40px 18px;
}

.info img {
    margin-right: 10px;
}

.info .price {
    display: flex;
    align-items: center;
    color: rgb(0, 255, 248);
}

.info .time {
    display: flex;
    align-items: center;
    color:rgb(139, 172, 217);
}



/* Profile */
.card .profile {
    display: flex;
    align-items: center;
    margin: 0 18px;
    padding-bottom: 30px;
    border-top: 1px solid #fff;
    padding-top: 25px;
}

.profile img {
    width: 12%;
    margin-right: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* .card .porofile p {
    
} */

.name span {
    color:rgb(139, 172, 217);
}