@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    background: url(./images/pattern-background-desktop.svg) no-repeat center center/cover hsla(226, 100%, 88%, 0.493);
}

.card {
    margin: auto;
    text-align: center;
    flex-direction: column;
    background: #fff;
    width: 410px;
    margin-top: 5vh;
    border-radius: 10px;
}

.hero-img {
    width: 100%;
    border-radius: 10px 10px  0 0;
}

.card .title {
    color: hsla(223, 47%, 23%, 0.849);
    font-weight: 900;
}

.card p {
    padding: 0 20px;
    line-height: 1.6rem;
    color: hsla(223, 47%, 23%, 0.849);
}


/* Price */
.price {
    background: hsla(224, 23%, 55%, 0.116);
    padding: 0 10px;
    margin: auto;
    width: 80%;
    border-radius: 5px;
}
.card .price {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}

/* .card .price h3 {
} */

.price span {
    font-weight: 900;
}

.price .change {
    /* text-decoration: none; */
    margin-left: 85px;
    color: hsl(0, 9%, 7%);
    color: #382AE1;
}

.price .change:hover {
    color: rgb(10, 10, 117);
}

/* Button */
.card .btn {
    width: 85%;
    margin: 20px auto;
    display: block;
    color: #fff;
    padding: 10px 0;
    background: #382AE1;
    border-radius: 5px;
    text-decoration: none;
}

.card .btn:hover {
    background: rgb(26, 26, 206);
}



.card .cancel {
    display: inline-block;
    text-decoration: none;
    margin: 10px 0 30px 0;
    color: #382AE1;
}

.card .cancel:hover {
    color: rgb(10, 10, 117);
}
